.my-container{
  /* border: 1px solid red; */
  height: 70vh;
  width: 100%;
}

.navbar1 {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
}

.logo1 {
  /* border: 1px solid red; */
  width: 194px;
  margin-left: 25px;
  background: #000;
}
.logo1 img {
  width: 184px;
  height: 54px;
  flex-shrink: 0;
}


.reg-button button {
  padding: 10px 20px;
  color: #e37c5b;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  border: 0px solid #fff;
  background-color: #fff;
}

.col-img {
  /* border: 1px solid red; */
}
.col-img img {
  width: 450px;
  height: 440px;
  flex-shrink: 0;
  margin-left: 29px;
}

.col-desc {
  /* border: 1px solid red; */
}

.reg {
  /* border: 1px solid red; */
  width: 250px;
  margin-top: 100px;
  margin-left: -12px;
}

.reg p {
  color: #0c090d;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 62.4px */
  letter-spacing: 0.2px;
}

.reg-des {
  /* 
 border: 1px solid red; */
  width: 250px;
  margin-left: -12px;
}

.reg-des p {
  color: #333;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 28.8px */
  letter-spacing: 0.273px;
}

.button1 button {
  padding: 10px 20px;
  background-color: #0ea57a;
  color: white;
  border: none;
  cursor: pointer;

  border: 0px solid #fff;
  border-radius: 5px;
  background: #1a2440;
}


.disclamer{
/* border: 1px solid red; */
width: 85%;
height: 100px;
flex-shrink: 0;
margin-left: 37px;
}

.heading-disclamer{
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
}

.para-disclamer{

  color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 25.6px */
letter-spacing: -0.5px;
}

.propacity{

color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 160%;
letter-spacing: -0.5px;

}