*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* section2 starts */

.search-div {
  display: flex;
  align-items: center;
}

.search-div2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-div3 {
  color: #a5a5a5;
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.search-select {
  outline: none;
  border: none;
  color: black;
  font-size: 18px;
}

.property-display {
  width: 100%;
  height: 90vh;
  display: flex;
}

.property-display-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.property-display-text1 {
  color: #00e5a1;
  font-family: "Poppins";
  font-size: 15px;
  font-style: normal;
}

.property-display-text2 {
  color: #FFF;
  font-family: Gabriela;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.6px;
}

.property-display-text3 {
  color: #e3e3e3;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
}

.property-display-img {
  position: relative;
  width: 50%;
  margin-left: 5%;
}

.property-display-img1 {
  position: absolute;
  width: 18rem;
  margin: auto;
  left: 30%;
  z-index: 100;
}

.property-display-img1 img {
  width: 100%;
  transform: rotate(9deg);
}

.property-display-img2 {
  top: 3rem;
  position: absolute;
  width: 22rem;
  z-index: 50;
}

.property-display-img2 img {
  width: 100%;
  transform: rotate(-12deg);
}

.specs1 {
  color: #00e5a1;
  font-family: "Gabriela" !important;
  font-size: 64px !important;
  line-height: 4rem !important;
}

.specs2 {
  color: #fff;
  font-family: "Poppins" !important;
  font-size: 12px !important;
}

/* section2 ends */

/* section3 css starts */

.amenities-main-div {
  display: flex;
  align-items: center;
  padding-left: 5rem;
}

.amenities-img {
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ebfaff;
  border-radius: 50%;
}

.amenities {
  color: #000;
  font-family: "Poppins";
  text-align: left;
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: 600 !important;
}

.amenities-sub {
  color: #000;
  text-align: left;
  font-family: "Poppins";
  font-size: 10px !important;
  font-style: normal !important;
  font-weight: 300 !important;
}

/* section3 css ends */

/* section4 starts */

.contact-form {
  width:390px;
  height: 2.5rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid red; */
}

.contact-form input {
  width: 80%;
  color: #fff;
  background: rgba(26, 36, 64, 0);
  outline: none;
  border: none;
  /* border: 1px solid red; */
}

.contact-form textarea {
  color: #fff;
  height: 5rem;
  width: 95%;
  background-color: rgba(26, 36, 64, 0);
  outline: none;
  border: none;
  resize: none;
}

.contact-form input::placeholder,
textarea::placeholder {
  color: white;
}

/* map section */

.map-section {
  width: 80%;
  height: 100%;
  margin-left: auto;
  background: radial-gradient(
      60.28% 600.71% at -10.05% 3.97%,

      rgba(26, 36, 64, 1) 30%,
      rgba(26, 36, 64, 0.2) 100%
    ),
    url("../src/assets/map.png"), lightgray 50% / cover no-repeat;
}

/* section4 ends */

/* section5 starts */

#h2-1 {
  color: #000;
  font-family: "Gabriela";
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
}

#h2-2 {
  color: #000;
  font-family: "Gabriela";
  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
}

.social-icons {
  margin: 1rem;
  height: 3rem;
  width: 3rem;
  background: #00e5a1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* section5 ends */
